*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/* Color Theme Swatches in RGBA - AdobeColor
Verde .on*arte---marketplace-1-rgba { color: rgba(6, 114, 2, 1); }
Blanco .on*arte---marketplace-2-rgba { color: rgba(216, 207, 199, 1); }
Cafe claro .on*arte---marketplace-3-rgba { color: rgba(165, 130, 109, 1); }
Naranja .on*arte---marketplace-4-rgba { color: rgba(216, 53, 17, 1); }
Piel .on*arte---marketplace-5-rgba { color: rgba(216, 103, 78, 1); }
*/

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p,ul,li,a,label,input,table,tr,th,span{
    font-size: 1.6rem;
    margin-bottom: 0;
}

a.btn-primary,a.navbar-brand{
    font-size: 1.6rem;
}

i{
    font-size: 2em;
}

.contactoIndex{
    border-radius: 15px;
    background-color: grey;
    color: white;
    font-size: 3rem;
    line-height: 1em;
    width: 150px;
    opacity: 0.5;
    text-align: center;

    position: fixed;
    top: 85vh;
    left: 85vw;
    z-index: 99;
    
    display:grid;
    align-content: center;
}

.contactoIndex:hover{
    opacity: 0.9;
    cursor: pointer;
}

#productosIndex{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    padding-top: 10px;
}

#productosIndex >.card{
    margin-bottom: 10px;
}

#footer{
    padding: 0x 10px;
    padding-bottom: 10px;
}


#contenedorIndex nav{
    padding: 0 10px;
}

#filtroIndex .filtroIndex__buscador form input{
    width: 100%;
}

/* Bootstrap 
---------------------------------------------------------------------------------*/
.container-fluid{
  --bs-gutter-x: 0;
}

.row{
    --bs-gutter-x: 0; 
}

/*-------------------------------------------------------------------------------- 
Ajustar a tablet 
---------------------------------------------------------------------------------*/
/*
#productosIndex > .card{
    height: 50%;
}
*/
/* Grid area
--------------------------------------------------------------------------------*/
/* First mobile
-----------------------------------------------------*/
#mainIndex{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);

    grid-template-areas: 
    "filtro"
    "productos"
    "publicidad"
    ;

    row-gap: 5px;

    background-color: rgb(129 127 255 / 0.5);
}

#filtroIndex{
    grid-area: filtro;
}

#productosIndex{
    grid-area: productos;
}

#publicidadIndex{
    grid-area: publicidad;
}

#publicidadIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 10px 0px;
    padding-left: 10px;
}

#publicidadIndex > img{
    width: 35%;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Tablet
-----------------------------------------------------*/
/* Desktop
-----------------------------------------------------*/
@media (min-width:992px){
    #mainIndex{
        display: grid;

        grid-template-columns: 15% 1fr 15%;

        grid-template-areas: "filtro productos publicidad";

        column-gap: 5px;
        
        background-color: rgb(127 255 212 / 0.5);
    }

    #filtroIndex{
        grid-area: filtro;
    }
    
    #productosIndex{
        grid-area: productos;
    }
    
    #publicidadIndex{
        grid-area: publicidad;
    }

    #publicidadIndex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        padding: 10px 0px;
        padding-left: 10px;
    }
    
    #publicidadIndex > img{
        width: 70%;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #productosIndex > .card{
        height: fit-content;
    }

    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
    }
}